header {
  background-image: url("/assets/business-concept-with-wooden-blocks-with-icons-green-plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  border-bottom: solid 3px black;
}
