<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h1 class="fs-1 mb-3">404 - Pagina non trovata!</h1>
      <img
        src="/assets/hand-drawn-404-error.png"
        alt="404 not found!"
        class="my-4"
      />
      <h3>
        <a
          routerLink="/homepage"
          class="link-underline link-underline-opacity-0 link-success text-center"
        >
          Torna alla Homepage!</a
        >
      </h3>
    </div>
  </div>
</div>
